{
  "username": "Your e-mail address",
  "token": "Your Zendesk API Token",
  "hostname": "https://{your subdomain}.zendesk.com",
  "siem": "splunk",
  "siemUrl": "Your SIEM HTTP Collector endpoint",
  "siemToken": "Your SIEM Token if needed",
  "tickets": false,
  "sanitizedEvents": [
    "All",
    "Create",
    "Change",
    "Comment",
    "CommentRedactionEvent",
    "AttachmentRedactionEvent",
    "VoiceComment",
    "CommentPrivacyChange",
    "Notification",
    "Cc",
    "SatisfactionRating",
    "TicketSharingEvent",
    "OrganizationActivity",
    "Error",
    "Tweet",
    "FacebookEvent",
    "FacebookComment",
    "External",
    "LogMeInTranscript",
    "Push"
  ],
  "allowedEvents": [
    "All",
    "Create",
    "Change",
    "Comment",
    "CommentRedactionEvent",
    "AttachmentRedactionEvent",
    "VoiceComment",
    "CommentPrivacyChange",
    "Notification",
    "Cc",
    "SatisfactionRating",
    "TicketSharingEvent",
    "OrganizationActivity",
    "Error",
    "Tweet",
    "FacebookEvent",
    "FacebookComment",
    "External",
    "LogMeInTranscript",
    "Push"
  ],
  "auditOffset": 60,
  "ticketOffset": 30
}
